<div class="fond-jaune" style="height: 97;">
    <div class="container">
        <div class="espace row hidden-xs">
            <div class="col-sm-12 col-md-12 col-lg-12">
            </div>
        </div>
        <div class="row contenu">
            <div class="hidden-sm hidden-md hidden-lg col-xs-12 logo">
                <span>Congo's Tour</span>
            </div>
            <div class="col-xm-12 col-sm-6 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2">
                <h1 class="carrousel-title">Vous aussi,<br /><small>faites conna&icirc;tre votre ville!</small></h1>
                <p>Vous aimez votre ville, vous la connaissez par coeur! Vous savez exactement ce qui fait d'elle cette petite ou grande ville que vous aimez tant. Partagez ça avec nous!</p>
                <p><button class="btn btn-large btn-danger">Descendez pour lire la suite</button></p>

            </div>
            <div class="hidden-xs col-sm-6 col-md-4  col-lg-4 logo">
                <span>Congo's Tour</span>
            </div>
        </div>
    </div>

</div>
<div class="fond-bleu" id="fondbleu">
    <div class="container">
        <div class="espace row hidden-xs">
            <div class="col-sm-12 col-md-12 col-lg-12">
            </div>
        </div>
        <div class="row contenu">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2">
                <h1 class="carrousel-title">Vous venez d'arriver<br><small>dans cette ville inconnue!</small></h1>
                <p>Vous ne savez pas ce que vous pouvez faire dans cette nouveaux lieu qui vous est &eacute;trang&eacute;? Parcourez notre site et vous d&eacute;couvrirez peut-&ecirc;tre des lieux, des gens qui vous permettrons de mieux profiter de ce lieu qui le vaut bien!</p>
                <p>
                
                    <button class="btn btn-lg btn-block btn-warning">
                        Descendez pour lire la suite
                    </button>
                </form>
                </p>
            </div>
            <div class="hidden-xs col-sm-6 col-md-4  col-lg-4 logo">
                <span>Congo's Tour</span>
            </div>
        </div>
    </div>

</div>
<div class="fond-red" id="fondrouge">
    <div class="container">
        <div class="espace row hidden-xs">
            <div class="col-sm-12 col-md-12 col-lg-12">
            </div>
        </div>
        <div class="row contenu">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-2">
                <h1 class="carrousel-title">Vous voulez voyager?<br /><small>Vous ne savez pas o&ucirc; aller ?</small></h1>
                <p>Vous &ecirc;tes au bon endroit! l'endroit parfait et au bon moment! Vous pouvez d&eacute;couvrir des destinations auquel vous n'aviez jamais penser. Les informations que vous trouverez i&ccedil;i sont fiables parce qu'elles sont &eacute;t&eacute; publi&eacute; par des utilisateurs vrai et authentique qui parle par amour et par passion.</p>
                <p><a class="btn btn-large btn-primary" href="#/provinces"><span class="glyphicon glyphicon-heart"></span> Trouvez votre coup de coeur!</a></p>
            </div>
            <div class="hidden-xs col-sm-6 col-md-4  col-lg-4 logo">
                <span>Congo's Tour</span>
            </div>
        </div>
    </div>
</div>
